@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --primary: 259 94% 51%;
  --primary-foreground: 0 0% 100%;
  --secondary: 44 100% 50%;
  --secondary-foreground: 240 5.9% 10%;
  --accent: 180 68% 48%;
  --accent-foreground: 210 40% 2%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --ring: 259 94% 51%;
  --radius: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --primary: 259 94% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 44 100% 60%;
    --secondary-foreground: 240 6% 10%;
    --accent: 180 68% 58%;
    --accent-foreground: 210 40% 2%;
    --destructive: 0 62.8% 45.1%;
    --destructive-foreground: 0 0% 98%;
    --ring: 259 94% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply min-h-screen bg-background font-sans text-foreground antialiased;
  }
}
